* {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 2000px;
}

.Hnav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;

}

.Hnav li {
    list-style: none;


}

.Hnav a {
    text-decoration: none;

}

.list-items ul {
    display: flex;

    justify-content: space-between;

}

.dslogo a {
    display: flex;
    color: white;
    margin: 0 10px;
    justify-content: space-between;
    align-items: center;

}

.dslogo a h2 {
    padding: 10px 10px;
}




.list-items ul li a {
    color: white;
    margin: 10px 10px;
}

.odbutton button {
    background-color: #7289da;
    border: 1px solid #677bb0;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
}

.odbutton button:hover {
    background-color: aquamarine;
    transition: background-color 0.5s ease-in-out;
    color: rebeccapurple;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;

}

body {
    background-color: #1f43c7;
}

.image-stack {
    position: relative;
    height: 500px;
    width: 500px;
}

.image-stack img {
    position: absolute;
    top: 0;
    left: 0;
}

.image-stack img:first-child {
    z-index: 3;
    padding-left: 700px;

}

.image-stack img:nth-child(2) {
    z-index: 2;

}

.image-stack img:last-child {
    z-index: 1;

}

.image-stack p {
    font-size: 34px;
    text-align: center;

    color: white;
}

.textcon {

    width: 1500px;
    text-align: center;

}

.textcon p {
    font-weight: 700;
}

#element {
    color: white;
}

.midpara {
    z-index: 5;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 300px;
    justify-content: center;
    margin-left: 600px;
}

.downbutton {
    margin-top: 300px;
    margin-left: 200px;
    display: flex;

    justify-content: center;
}

.downb button {
    background-color: #f3f6ff;
    border: 1px solid #677bb0;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;

}

.downb {
    margin-right: 40px;
    z-index: 16;
}

.downb button:hover {
    color: blueviolet;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5), inset 0 0 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-out;
}

.launchb button {
    background-color: #0e1e61;
    border: 1px solid #181e30;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
}

.launchb {
    margin-left: 20px;
    z-index: 15;
}

.launchb button:hover {
    color: yellow;
    box-shadow: 0 0 30px rgba(126, 126, 126, 0.5), inset 0 0 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-out;
}

.cardstack {
    display: flex;
    justify-content: center;
    background-color: rgb(83, 100, 255);
    width: 110%;
    margin-left: -10px;


}

.card1 {
    position: relative;
    z-index: 10;
    width: 40px;
    height: 400px;

    margin-top: 100px;
    margin-right: 10px;
    margin-left: -160px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;



    transition: height 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.card1 img {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card1-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card1 h1 {
    margin-top: 210px;

}


.card1:hover {
    width: 600px;
    transition: width 0.5s ease-in-out;
}

.card1:hover .card1-content {
    opacity: 1;
}

.card1:hover img {
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.card2 {
    position: relative;
    width: 40px;
    height: 400px;
    z-index: 11;
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;



    transition: height 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.card2 img {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card2-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card2 h1 {

    margin-top: 210px;

}


.card2:hover {
    width: 600px;
    transition: width 0.5s ease-in-out;
}

.card2:hover .card2-content {
    opacity: 1;
}

.card2:hover:hover img {
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.card3 {
    position: relative;
    width: 40px;
    height: 400px;
    z-index: 12;
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    overflow: hidden;




    transition: height 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.card3 img {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card3-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card3 h1 {
    margin-top: 210px;

}


.card3:hover {
    width: 600px;
    transition: width 0.5s ease-in-out;
}

.card3:hover .card3-content {
    opacity: 1;
}

.card3:hover img {
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.movingclouds {


    width: 100px;
    height: 100px;
    animation: move 30s infinite;
    z-index: 9;

}

.movingclouds2 {
    width: 100px;
    height: 100px;
    animation: move2 20s infinite;
    z-index: 8;
}

@keyframes move2 {
    from {
        transform: translateX(-1000px)
    }

    to {
        transform: translateX(100px);
    }


}

.movingclouds3 {
    width: 100px;
    height: 100px;
    animation: move3 80s infinite;
    z-index: 7;
}

@keyframes move3 {
    from {
        transform: translateX(-3000px)
    }

    to {
        transform: translateX(1000px);
    }


}

.movingclouds4 {
    width: 100px;
    height: 100px;
    animation: move4 120s infinite;
    z-index: 6;
}

@keyframes move4 {
    from {
        transform: translateX(-5000px)
    }

    to {
        transform: translateX(100px);
    }


}

@keyframes move {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateX(100px);
    }


}